@{
    Layout = "";
}
@using System.Web.Mvc.Ajax;
<h2>TMC Plugin</h2>

@Ajax.RouteLink("All Project Types", "Tmc.ProjectTypeList",null,new AjaxOptions() { UpdateTargetId= "tmc-container", InsertionMode = InsertionMode.Replace, HttpMethod="Get",LoadingElementId= "div_loading" })
@Ajax.RouteLink("All Projects", "Tmc.ProjectList", null, new AjaxOptions() { UpdateTargetId = "tmc-container", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", LoadingElementId = "div_loading" })
<div id="tmc-container">

</div>
<div id="div_loading" style="display:none;">
    <img src="@Url.Content("~/Administration/Content/images/ajax-loading.gif")" />
</div>
<script src="~/Administration/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
