################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mercedes.Data/bin/Debug
/packages
/Mercedes.Core/bin/Debug
/Mercedes.Core/obj/Debug
/Mercedes.Services/bin/Debug
/Mercedes.Services/obj/Debug
/Mercedes.Web/Administration/obj/Debug
/Mercedes.Web/bin
/Mercedes.Web/obj/Debug
/Mercedes.Web.Framework/bin/Debug
/Mercedes.Web.Framework/obj/Debug
/Mercedes.Data/obj/Debug
/Mercedes.Web/Uploads/Images/2017-07-DD
/Mercedes.Core/bin/Release
/Mercedes.Core/obj/Release
/Mercedes.Data/obj/Release
/Mercedes.Data/bin/Release
/Mercedes.Services/bin/Release
/Mercedes.Services/obj/Release
/Mercedes.Web/obj/Release
/Mercedes.Web/Properties/PublishProfiles
/Mercedes.Web.Framework/bin/Release
/Mercedes.Web.Framework/obj/Release
/Mercedes.Web/Uploads/Images/2017-07-20
