
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Trinh Minh Co.Ltd.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link media="screen" type="text/css" rel="stylesheet" href="~/Content/reset.css" />
    <link media="screen" type="text/css" rel="stylesheet" href="~/Content/default.css" />
    <link media="screen" type="text/css" rel="stylesheet" href="~/Content/nivo-slider.css" />
    <link media="screen" type="text/css" rel="stylesheet" href="~/Content/dd.css" />
    <link media="screen" type="text/css" rel="stylesheet" href="~/Content/flexslider.css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dd.min.js"></script>
    <script type="text/javascript" src="~/Scripts/animatescroll.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.flexslider.js"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    @RenderBody()
</body>
</html>
