<div class="wrap-header">
    <div id="header">
        <h1 class="logo"><a href="index.html" title=""><img src="images/logo.png" alt="Trinh Minh Company" /></a></h1>
        <div id="nav" class="pageScrollerNav">
            <ul>
                <li><a href="#" title="" class="active" onclick="$('#home').animatescroll();">Home</a></li>
                <li><a href="#" title="" onclick="$('#about-us').animatescroll();">About Us</a></li>
                <li><a href="#" title="" onclick="$('#projects').animatescroll();">Projects</a></li>
                <li><a href="#" title="" onclick="$('#services').animatescroll();">Services</a></li>
                <li><a href="#" title="" onclick="$('#contact-us').animatescroll();">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrap-container">
    <div id="home" class="section"><img src="images/banner.jpg" alt="We strive to demonstrate our business values in action" /></div>
    <div id="about-us" class="section">
        <div class="main">
            <h1>we do these things</h1>
            <p>TMC is a professional website development company providing a full range of services from a very simple webpage to a complex solution.</p>
            <ul>
                <li>ECommerce solutions</li>
                <li>Healthcare Management System</li>
                <li>Booking System</li>
            </ul>
            <ul>
                <li>Electronic Control  System</li>
                <li>Content Management System</li>
                <li>Ondemand Websites</li>
            </ul>
        </div>
    </div>
    <div id="projects" class="section">
        <div class="main">
            <div class="f-left">
                <h2>Our Work</h2>
                <ul class="nav-project">
                    <li><a href="javascript:void(0)" title="" class="active" onclick="showProject('lst-website')">website</a></li>
                    <li><a href="javascript:void(0)" title="" onclick="showProject('lst-bis')">B.I.S</a></li>
                    <li><a href="javascript:void(0)" title="" onclick="showProject('lst-graphic')">Graphic</a></li>
                    <li><a href="javascript:void(0)" title="" onclick="showProject('lst-others')">Others</a></li>
                </ul>
            </div>
            <div class="f-right">
                <div class="lst-projects" id="lst-website">
                    <div class="item">
                        <p><img src="images/pro-01.jpg" alt="GioNam" /></p>
                        <h4>GioNam Ltd</h4>
                        <p class="pro-des">Spare parts, equipment and auto repair.</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-02.jpg" alt="Luc Farm Crickets" /></p>
                        <h4>Luc's Farm Company</h4>
                        <p class="pro-des">Foods, Farming methods,... for Crickets</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-03.jpg" alt="Online casino gaming" /></p>
                        <h4>Casino Template 01</h4>
                        <p class="pro-des">Online casino gaming</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-09.jpg" alt="IT Business Consulting Company" /></p>
                        <h4>Company Portfolio</h4>
                        <p class="pro-des">IT Consulting Company Template</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-05.jpg" alt="mKaraoke" /></p>
                        <h4>mKaraoke</h4>
                        <p class="pro-des">Mobile Karaoke Application</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-06.jpg" alt="Greatwall" /></p>
                        <h4>Greatwall Company</h4>
                        <p class="pro-des">IT Consulting company</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-07.jpg" alt="Yours" /></p>
                        <h4>Yours store</h4>
                        <p class="pro-des">Korean fashion store</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-08.jpg" alt="Relax JSC" /></p>
                        <h4>Relax JSC</h4>
                        <p class="pro-des">Relax space with coffee, restaurant,...</p>
                    </div>
                    <div class="item">
                        <p><img src="images/pro-04.jpg" alt="Online casino gaming" /></p>
                        <h4>Casino Template 02</h4>
                        <p class="pro-des">Online casino gaming</p>
                    </div>
                </div>
                <div class="lst-projects" id="lst-bis">
                    <div class="item">
                        <div><a href='javascript:void(0)' title="Click to view details"><img src="images/bis-moc.png" alt="Moc Restaurant BIS" /></a></div>
                        <h4><a href='javascript:void(0)' title="">Moc Restaurant</a></h4>
                        <p class="pro-des">B.I.S of Moc Restaurant</p>
                    </div>
                </div>
                <div class="lst-projects" id="lst-graphic">
                    <div class="item">
                        <p><img src="images/logo-eswap.png" alt="eSwap" /></p>
                        <h4>eSwap</h4>
                        <p>eSwap's Logo</p>
                    </div>
                    <div class="item">
                        <p><img src="images/logo-satucafe.png" alt="Satukafe" /></p>
                        <h4>Satukafe</h4>
                        <p>Satukafe's Logo</p>
                    </div>
                </div>
                <div class="lst-projects" id="lst-others">
                    <div class="item">
                        <div><img src="images/bro-01-outside.jpg" alt="Lancome cosmetics" /></div>
                        <h4><a href='javascript:void(0)' title="">Lancome cosmetics</a></h4>
                        <p>Introducing new product of Lancome</p>
                    </div>
                    <div class="item">
                        <div><img src="images/bro-01-inner.jpg" alt="Lancome cosmetics" /></div>
                        <h4><a href='javascript:void(0)' title="">Lancome cosmetics</a></h4>
                        <p>Introducing new product of Lancome</p>
                    </div>
                    <div class="item">
                        <p><img src="images/poster-lux.png" alt="Lux Poster" /></p>
                        <h4>Lux Poster</h4>
                        <p>Lux Poster</p>
                    </div>
                    <div class="item">
                        <p><img src="images/poster-Omo.png" alt="Omo Poster" /></p>
                        <h4>Poster OMO</h4>
                        <p>Poster OMO</p>
                    </div>
                    <div class="item">
                        <p><img src="images/walkman.png" alt="Walkman Mobile Phone" /></p>
                        <h4>Walkman Mobile</h4>
                        <p>Walkman Mobile</p>
                    </div>
                    <div class="item">
                        <p><img src="images/poster-moc.png" alt="Moc Poster" /></p>
                        <h4>Moc Restaurant Poster</h4>
                        <p>Moc Restaurant Poster</p>
                    </div>
                    <div class="item">
                        <p><img src="images/poster-moc-per.jpg" alt="Moc Poster Perspective" /></p>
                        <h4>Moc Res Poster Perspective</h4>
                        <p>Moc Restaurant Poster Perspective</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services" class="section">
        <div class="main">
            <div class="f-left">
                <h2>Services</h2>
            </div>
            <div class="f-right">
                <h3>We know-Our, Innovation & Responsibility, Your content - Our ideas <br />A GREAT PRODUCT!</h3>
                <div class="sequence">
                    <div class="item">
                        <div class="ui-sequence design"></div>
                        <h4>Design</h4>
                        <p>understanding the concepts & thoughts and knack of giving them the shape. highest quality, attractive &  friendly designs is what we supply</p>
                    </div>
                    <div class="item">
                        <div class="ui-sequence development"></div>
                        <h4>web development</h4>
                        <p>building website with shortest time but highest quality. All our systems are web based and running on our infrastructure.</p>
                    </div>
                    <div class="item">
                        <div class="ui-sequence maintenance"></div>
                        <h4>maintenance</h4>
                        <p>send us your updates, change requests and consider them done. Your work will be completed promptly and exactly as requested.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-us" class="section">
        <div class="main">
            <div class="f-left">
                <h2>Contact</h2>
                <p class="page-des">“Powerful and effective cooperation lasting for years”</p>
            </div>
            <div class="f-right">
                <div class="contact-info">
                    <ul>
                        <li>
                            <span class="ui-icon address"></span>
                            <h4>
                                Address:<br />
                                <span>314 Truong Dinh, Dist 1, HCM city, VietNam</span>
                            </h4>
                        </li>
                        <li>
                            <span class="ui-icon email"></span>
                            <h4>
                                Email:<br />
                                <span>trinhthaituyen2003@gmail.com</span>
                            </h4>
                        </li>
                        <li>
                            <span class="ui-icon phone"></span>
                            <h4>
                                Phone:<br />
                                <span>+84 909 465 108</span>
                            </h4>
                        </li>
                    </ul>
                </div>
                <div class="frm-contact">
                    <h3>drop a line</h3>
                    <p class="contact-des">If you have any requirements or any supports, please don't hesitate to contact me. </p>
                    <p class="contact-msg">Contact Msg / Err</p>
                    <div class="inp">
                        <span class='required'>*</span>
                        <input type="text" id="txt-name" name="txt-name" value="Your Name" />
                    </div>
                    <div class="inp inp-02">
                        <span class='required'>*</span>
                        <input type="email" id="txt-email" name="txt-email" value="Your Email" />
                    </div>
                    <div class="clear"></div>
                    <div class="area">
                        <span class='required'>*</span>
                        <textarea rows="6" cols="50" id="txt-msg" name="txt-msg">Your Message</textarea>
                    </div>
                    <div class="clear"></div>
                    <div class="btn-submit"><a href="javascript:void(0)" title="">Send Message</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-footer">
    <div id="footer">
        <ul class="block-social">
            <li><a href="javascript:void(0)" title="" class="ui-icon facebook">Facebook</a></li>
            <li><a href="javascript:void(0)" title="" class="ui-icon twitter">Twitter</a></li>
            <li><a href="javascript:void(0)" title="" class="ui-icon google">Google Plus</a></li>
            <li><a href="javascript:void(0)" title="" class="ui-icon broadcast">Broadcast</a></li>
        </ul>
        <p class="copyright">Copyright &copy; 2014. All rights reversed.</p>
    </div>
</div>
<a href="javascript:void(0)" title="" id="toTop">Back to Top</a>

<script type="text/javascript">
        //Back to Top Scroll
        $(window).scroll(function() {
            if ($(this).scrollTop()) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });
        $("#toTop").click(function() {
            $("html, body").animate({scrollTop: 0}, 1000);
        });
        function showProject(id) {
            $("#projects .lst-projects").css("display", "none");
            $("#" + id).show('slow');
        }
        $(document).ready(function() {
            $("#projects .lst-projects").hide();
            $("#lst-website").show('slow');
            $(".nav-project li a").click(function() {
                $(".nav-project li a").removeClass("active");
                $(this).addClass("active");
            });
        });
</script>