<ul class="contact-social">
    <li><a href="#"><img src="../images/footer-social-facebook.png" alt="Facebook" /></a></li>
    <li><a href="#"><img src="../images/footer-social-instagram.png" alt="Instagram" /></a></li>
    <li><a href="#"><img src="../images/footer-social-skype.png" alt="Skype" /></a></li>
</ul>
