@{
    ViewBag.Title = "Index";
    Layout = "~/Administration/Views/Shared/_Layout.cshtml";
}
<link href="~/Administration/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Administration/assets/plugins/datatables/jquery.dataTables.min.js"></script>

@Html.Partial("_AddManuafacturerFrom")
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Manufacturer List </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <a class="btn btn-danger" data-toggle="modal" href="#frm-add-new-manufacturer"> Add new <i class="fa fa-plus"></i> </a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <br />
        <table id="tb-manufacturer" class="table table-bordered table-striped">
          
        </table>
    </div>
    <!-- /.box-body -->
</div>
<div id="frm-upd-new-manufacturer" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
                <div class="modal-content" id="edit-form">
                  
                </div>
            </div>
</div>
<script type="text/javascript">
    var resourceTable = null;
    function deleteResource(url) {
        if (confirm('Delete this record?')) {
            $.ajax({
                url: url,
                type: "post",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data) {
                        alert("Delete Successful");
                        resourceTable.ajax.reload();
                    } else {
                        alert("Delete Fail");
                    }
                },
                error: function (xhr, status, errThrow) {
                    alert(errThrow);
                }
            });
        }
    }

    function getResource(url) {
        $.ajax({
            url: url,
            type: "GET",
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //Bind data
                //var htmlTable = $("#resource-string-tmpl").render(data);
                //$("#bodytable").html(htmlTable);
                $("#edit-form").html(data);
            },
            error: function (xhr, status, errThrow) {
                alert(errThrow);
            }
        });
    }
    $(function () {
        resourceTable = $('#tb-manufacturer').DataTable(
               {
                   paging: true,
                   ajax:
                   {
                       url: '@Url.Action("List")',
                       type: "POST",
                       contentType: "application/json; charset=utf-8"
                   },
                   "pageLength": 20,
                   "lengthMenu": [
                       [10, 15, 20, -1],
                       [10, 15, 20, "All"] // change per page values here
                   ],
                   columns: [
                       { title: "Id", data: "Id" },
                       {title:"Code", data: "Code" },
                       {title: "Name", data: "Name" },
                       {
                           //Edit column
                           mRender: function (data, type, fullObject) {
                               var Id = fullObject.Id;
                               var url = '@Url.Action("Update")/?Id=' + Id;
                               return '<a id="btn-update" data-toggle="modal" onclick="getResource(\'' + url + '\')" href="#frm-upd-new-manufacturer" class="edit"> Edit </a>';
                           }
                       },
                       {
                           //Delete column
                           mRender: function (data, type, fullObject) {
                               var Id = fullObject.Id;
                               var url = '@Url.Action("Delete")/?Id=' + Id;
                               return '<a class="delete" onclick="deleteResource(\'' + url + '\')" href=""> Delete </a>';
                           }
                       }
                   ],
               });
    });
</script>