@{
    ViewBag.Title = "Trang chủ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="home-banner">
    <h1>Thuê Xe Mercedes Benz<br />Sang Trọng. Quý Phái. Lịch Lãm.</h1>
    <ul class="bxslider">
        <li><img src="../images/home-banner-bg-01.jpg" /></li>
        <li><img src="../images/home-banner-bg-02.jpg" /></li>
        <li><img src="../images/home-banner-bg-03.jpg" /></li>
    </ul>
</div>

<section class="contain text-center left-contain">
    <div class="container">
        <h2>Về Chúng Tôi</h2>
        <p>Chúng tôi là đối tác chiến lược của công ty Mercedes Benz tại Đức.<br />Chúng tôi đang triển khai dịch vụ cho thuê dòng xe Mercedes Benz cao cấp tại Việt Nam.<br />Rất hân hạnh được phục vụ và mang đẳng cấp đến với quý khách.</p>
        <a href="@Url.RouteUrl("About")" class="btn btn-site">Xem Thêm</a>
        <img src="../images/img-home-01.jpg" class="img-responsive img-section" />
    </div>
</section>
  
<div class="home-product-wrapper">
    <ul>
        <li>
            <div class="home-product-bg" style="background-image: url('../images/product-01-c-class-feature.jpg');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 home-product-wrap">
                        <p class="product-wrap-name"><span>Mercedes Benz</span>C-Class</p>
                        <a href="@Url.RouteUrl("VehicleSeries",new { id = "1", type = "C-Class" })" class="btn btn-site">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="home-product-bg" style="background-image: url('../images/product-02-e-class-feature.jpg');" ></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 home-product-wrap">
                        <p class="product-wrap-name"><span>Mercedes Benz</span>E-Class</p>
                        <a href="@Url.RouteUrl("VehicleSeries",new { id = "2", type = "E-Class" })" class="btn btn-site">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="home-product-bg" style="background-image: url('../images/product-03-s-class-feature.jpg');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 home-product-wrap">
                        <p class="product-wrap-name"><span>Mercedes Benz</span>S-Class</p>
                        <a href="@Url.RouteUrl("VehicleSeries",new { id = "3", type = "S-Class" })" class="btn btn-site">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
