<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Title ="Home" controller="Setting" action="Index" >
    <siteMapNode SystemName="Manufacture" Title="Manufacturer" ImageUrl="fa fa-book" controller="Manufacturer" action="Index" Roles="Admin">
    </siteMapNode>
    <siteMapNode SystemName="Category" Title="Category" ImageUrl="fa fa-book" controller="Category" action="Index" Roles="Admin">
    </siteMapNode>
    <siteMapNode SystemName="RentType" Title="Rent Type" ImageUrl="fa fa-book" controller="RentType" action="Index" Roles="Admin">
    </siteMapNode>
    <siteMapNode SystemName="Model" Title="Model" ImageUrl="fa fa-book" controller="Model" action="Index" Roles="Admin">
    </siteMapNode>
    <siteMapNode SystemName="PriceModel" Title="Price Model" ImageUrl="fa fa-book" controller="PriceModel" action="Index" Roles="Admin">
    </siteMapNode>
    <siteMapNode SystemName="UserRole" Title="UserRole" ImageUrl="fa fa-book" controller="Role" action="Index" Roles="Admin">
    </siteMapNode>
  </siteMapNode>
  
</siteMap>

