@{
    ViewBag.Title = "Home Page";
    Layout = "~/Administration/Views/Shared/_Layout.cshtml";
}
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->


<section class="content-header">
    <h1>Welcome to administration page    </h1>
    
</section>
<!-- Main content -->

<!-- /.content -->